/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

// theme
$pink: #bc2f6c;
$dark: #282828;
$yellow: #bdd654;
$green: #0e7f61;
$lemon: #bdd654;

// suporte
$success: #bdd654;
$error: #bc2f6c;
$info: #43a4e6;
$warning: #facc05;

// neutros
$black: #000000;
$b-1: #282828;
$b-2: #555550;
$b-3: #888888;
$b-4: #a3a3a3;
$grey: #c0c0c0;
$w-3: #dddddd;
$w-2: #ededed;
$w-1: #f7f7f7;
$white: #ffffff;

// espacamentos
$e-36: 36px;
$e-32: 32px;
$e-24: 24px;
$e-16: 16px;
$e-8: 8px;
$e-4: 4px;
$e-0: 0px;

// fontes
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-42: 42px;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  z-index: 1100;
}

ngx-spinner {
  p {
    font-size: 20px;
    color: #515151;
  }
}

.toast-container * {
  color: $white;
}

* {
  font-family: "Open Sans", sans-serif;
  color: $b-3;
  font-weight: 400;

  @mixin radius($radius: 10px) {
    border-radius: $radius;
  }

  %button{
    width: 115px;
    padding: $e-8;
    border-radius: $e-8;
    border: none;
    box-shadow: $e-0 $e-4 $e-8 $e-0 $b-3;
    cursor: pointer;
  }

  .sidebar {
    h1 {
      font-weight: 800;
    }

    ul {
      margin: $e-0;
      padding: $e-0;

      li {
        list-style-type: none;
        display: flex;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;

          .icon {
            height: 18px;
            color: $w-2;
            margin-left: $e-24;
          }

          p {
            font-weight: 900;
          }
        }

        .active-route {
          background: $w-2;
          @include radius;
        }
      }
    }
  }

  .modal-dialog {
    h3 {
      font-weight: 800;
      margin-top: $e-0;
    }

    div {
      display: flex;
      justify-content: center;

      button {
        background-color: transparent;
        font-size: $fs-18;
        padding: $e-8 $e-16;
        border: none;
        @include radius;
      }

      button:hover {
        background-color: $w-2;
      }

      .confirm {
        color: $pink;
      }
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: $w-1;
    @include radius(20px);

    h3 {
      margin-top: $e-0;
      font-weight: 800;
    }

    h6 {
      text-align: justify;
    }

    .search {
      margin-bottom: $e-32;

      img {
        height: 24px;
        cursor: pointer;
      }

      input {
        border: none;
        border-bottom: solid 1px #a3a3a3;
        background-color: transparent;
        width: 40%;
        outline: none;
      }

      button {
        @extend %button;
        background-color: $pink;
        color: $white;
        float: right;
      }
    }

    table {
      max-width: 100%;
      width: 100%;
      font-size: $fs-12;
      border-collapse: collapse;
      border-radius: 1em;
      overflow: hidden;

      thead {
        background-color: $info;

        th {
          color: $white;
          font-weight: 800;
          padding: $e-4;
        }
      }

      tr:nth-child(even) {
        background-color: $w-2;
      }

      th {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: $e-4;

        img {
          height: 16px;
          margin: 0 $e-8;
          cursor: pointer;
        }
      }

      .status {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
        }

        .badge {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin: $e-0 $e-8;
        }

        .badge-pink {
          background-color: $pink;
        }

        .badge-success {
          background-color: $green;
        }
      }
    }

    .paginator {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        text-decoration: none;
        margin: $e-8;
        cursor: pointer;
      }

      img {
        height: 16px;
        margin: $e-8;
      }

      .page-active {
        font-weight: 800;
      }
    }

    form {
      max-width: 100%;

      div {
        margin: $e-24 $e-0;

        label {
          margin-bottom: $e-16;
          font-weight: 800;
          text-align: left;
        }

        input {
          border: none;
          background-color: transparent;
          border-bottom: solid 1px $b-3;
          width: 50%;
        }
      }
    }

    .container-create {
      display: flex;
      height: 100%;
      width: 100%;
      max-width: 100%;

      .form-radio-div {
        display: flex;

        input {
          height: $e-24;
          width: 20px;
          margin: auto $e-16 auto $e-0;
        }

        label {
          font-size: $fs-14;
          font-weight: 400;
          margin: auto $e-24 auto $e-0;
        }
      }

      .footer-button-form {
        margin-top: $e-36;

        button {
         @extend %button;
         background-color: $white;
         color: $b-3;
        }

        .confirm {
          margin-left: $e-24;
          background-color: $pink;
          color: $white;
        }
      }
    }

    #modal{
      display: none;
    }

    %positions{
      top: $e-0;
      right: $e-0;
      bottom: $e-0;
      left: $e-0;
    }

    .mmodal {
      z-index: 1000;
      display: flex;
      position: fixed;
      @extend %positions;
      @include radius;
    }
    .mmodal-body {
      margin: auto;
      background: #fff;
      padding: $e-24;
      @include radius;
      width: 300px;
    }
    .mmodal-background {
      z-index: 900;
      position: fixed;
      @extend %positions;
      background-color: $b-3;
      opacity: 0.75;
    }
  }
}

// desktop
@media (min-width: 421px) {
  .container-fluid {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;

    .nmmodal {
      margin: auto;
    }

    .sidebar {
      margin: $e-16;
      width: 20%;
      max-width: 20%;

      h1 {
        text-align: center;
      }

      div {
        display: flex;

        img {
          margin: auto;
        }
      }

      li {
        a {
          width: 100%;
          padding: 0 16px;

          .icon {
            margin-right: $e-36;
          }
        }
      }
    }

    .content {
      padding: $e-24 $e-36;
      margin: auto;
      width: 80%;
      max-width: 80%;
    }

    .card {
      padding: $e-32;

      .container-create {
        .form-div {
          width: 70%;
          max-width: 70%;
        }
        .img-div {
          width: 30%;
          max-width: 30%;
          display: flex;

          img {
            margin: $e-0 auto;
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 420px) {
  .container-fluid {
    display: grid;
    height: 100%;
    padding: $e-8 $e-8;

    .sidebar {
      text-align: center;

      ul {
        display: flex;
        justify-content: center;
        margin: $e-36 $e-0;

        li {
          width: fit-content;

          a {
            padding: $e-16;

            .icon {
              margin: 0 8px;
            }

            p {
              display: none;
            }
          }
        }
      }
    }

    .card {
      padding: $e-16;

      table {
        th {
          max-width: 50px;
          padding: $e-8;
          white-space: nowrap;

          img {
            margin: 0 $e-4;
          }
        }

        .action {
          padding: 0;
        }

        .status {
          p {
            display: none;
          }
        }
      }
    }

    .container-create {
      .form-div {
        width: 100%;
        max-width: 100%;

        input {
          width: 100%;
        }

        #active,
        #inactive {
          width: 50%;
        }

        button {
          float: left;
        }

        .confirm {
          float: right;
        }

        .footer-button-form {
          max-width: 100% !important;
          width: 100%;
        }
      }

      .img-div {
        display: none;
      }
    }
  }
}
